Repository GooFit/GooFit: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, docker-clang-format

.pre-commit-config.yaml:

exclude: '^.ci/azure-wheel-helpers/.*'
repos:
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: fix-encoding-pragma

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]
    types: [file]
    files: (\.cmake|CMakeLists.txt)(.in)?$

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake
    exclude: .pre-commit-config.yaml

- repo: local
  hooks:
  - id: docker-clang-format
    name: Docker Clang Format
    language: docker_image
    files: "\\.(cu|hpp|cpp|cu|h)$"
    entry: unibeautify/clang-format:latest
    args:
    - -style=file
    - -i

Fix cacheCount;
  include/goofit/PDFs/physics/Amp3Body_TD.h
Due: disallow-caps, docker-clang-format

Fix merge conflicts.
  include/goofit/PDFs/physics/Amp3Body.h
  src/PDFs/physics/Amp3Body_TD.cu
  src/PDFs/physics/resonances/Resonance.cu
Due: disallow-caps, docker-clang-format

fixing dalitz example
  examples/dalitz/dalitz.cpp
Due: disallow-caps, docker-clang-format

Doing this to set up pulling the branch from github.
  examples/dalitz/dalitz.cpp
Due: disallow-caps, docker-clang-format

Cleaned up code for other people to use
  examples/dalitz/dalitz.cpp
Due: disallow-caps, docker-clang-format

Previous push had a random i in the code and crashes. This one doesn't have that i
  examples/dalitz/dalitz.cpp
Due: disallow-caps, docker-clang-format

add modifed decay time acceptance function
  include/goofit/PDFs/physics/ThreeGaussResolutionExt.h
  python/PDFs/physics/CMakeLists.txt
  python/PDFs/physics/ThreeGaussResolutionExt.cpp
  python/goofit.cpp
  src/PDFs/physics/CMakeLists.txt
  src/PDFs/physics/ThreeGaussResolution.cu
  src/PDFs/physics/ThreeGaussResolutionExt.cu
Due: disallow-caps, docker-clang-format

add proper normalisation in ThreeGaussResoltuionExt
  include/goofit/PDFs/physics/ThreeGaussResolutionExt.h
  python/PDFs/physics/ThreeGaussResolutionExt.cpp
  src/PDFs/physics/ThreeGaussResolutionExt.cu
Due: disallow-caps, docker-clang-format

chore: bump to scikit-build 0.12
  pyproject.toml
Due: disallow-caps

ci: ROOT image now is C++17
  .github/workflows/ci.yml
Due: disallow-caps

changing CMakeLists.txt for cuda 11 with local thrust
  CMakeLists.txt
Due: disallow-caps

fix python bindings linking
  CMakeLists.txt
  python/CMakeLists.txt
  python/PDFs/basic/CMakeLists.txt
  python/PDFs/combine/CMakeLists.txt
  python/PDFs/physics/CMakeLists.txt
  python/PDFs/utilities/CMakeLists.txt
Due: disallow-caps

revert unneccessary change
  python/CMakeLists.txt
Due: disallow-caps

remove unnecessary change
  CMakeLists.txt
Due: disallow-caps

fix EvenWeightedAddTest
  tests/convert/EventWeightedAddTest.cpp
Due: disallow-caps, docker-clang-format

Add RhoOmegaMix.
  include/goofit/PDFs/physics/ResonancePdf.h
Due: disallow-caps, docker-clang-format

Move functions.
  include/goofit/PDFs/physics/resonances/Resonance.h
Due: disallow-caps, docker-clang-format

Add RhoOmegaMix.
  python/PDFs/physics/ResonancePdf.cpp
Due: disallow-caps, docker-clang-format

Add RhoOmegaMix.
  src/PDFs/physics/CMakeLists.txt
Due: disallow-caps

Move functions.
  src/PDFs/physics/resonances/GS.cu
Due: disallow-caps, docker-clang-format

Move functions.
  src/PDFs/physics/resonances/Resonance.cu
Due: disallow-caps, docker-clang-format

Initial commit.
  include/goofit/PDFs/physics/resonances/RhoOmegaMix.h
  src/PDFs/physics/resonances/RhoOmegaMix.cu
Due: disallow-caps, docker-clang-format

ci(fix): ROOT is now built in 17 mode
  .github/workflows/ci.yml
Due: disallow-caps

ci(fix): correction, C++14
  .github/workflows/ci.yml
Due: disallow-caps

ci(fix): ROOT is now built in 14 mode (#275)
  .github/workflows/ci.yml
Due: disallow-caps

chore: bump to scikit-build 0.12 (#271)
  pyproject.toml
Due: disallow-caps

chore: use pip clang format
  .pre-commit-config.yaml
Due: none

ci: job not needed
  .github/workflows/ci.yml
Due: disallow-caps

docs: docker not needed anymore
  .github/CONTRIBUTING.md
Due: disallow-caps

chore: use pip clang format (#276)
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  include/goofit/Error.h
  include/goofit/PDFs/physics/MixingTimeResolution.h
Due: disallow-caps, docker-clang-format

fix: drop CompilerFeatures (unused, removed from CMake 3.20+)
  CMakeLists.txt
  src/goofit/PdfBase.cpp
Due: disallow-caps, docker-clang-format

fix: drop CompilerFeatures (unused, removed from CMake 3.20+) (#277)
  CMakeLists.txt
  src/goofit/PdfBase.cpp
Due: disallow-caps, docker-clang-format

chore: bump to cli11 2.1.1
  examples/TDDP4/TDDP4.cu
  examples/chisquare/chisquare.cpp
  examples/dalitz/dalitz.cpp
  examples/pipipi0DPFit/pipipi0DPFit.cpp
  examples/simpleFit/simpleFit.cpp
  examples/zachFit/zachFit.cpp
  src/goofit/Application.cpp
Due: disallow-caps, docker-clang-format

chore: bump to cli11 2.1.1 (#274)
  examples/TDDP4/TDDP4.cu
  examples/chisquare/chisquare.cpp
  examples/dalitz/dalitz.cpp
  examples/pipipi0DPFit/pipipi0DPFit.cpp
  examples/simpleFit/simpleFit.cpp
  examples/zachFit/zachFit.cpp
  src/goofit/Application.cpp
Due: disallow-caps, docker-clang-format

Initial commit.
  src/PDFs/physics/resonances/RhoOmegaMix.cu
Due: disallow-caps, docker-clang-format

Initial commit.
  include/goofit/PDFs/physics/resonances/RhoOmegaMix.h
Due: disallow-caps, docker-clang-format

Add rhoomegamix.
  include/goofit/PDFs/physics/ResonancePdf.h
Due: disallow-caps, docker-clang-format
