Repository GooFit/GooFit: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, docker-clang-format

.pre-commit-config.yaml:

exclude: '^.ci/azure-wheel-helpers/.*'
repos:
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: fix-encoding-pragma

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]
    types: [file]
    files: (\.cmake|CMakeLists.txt)(.in)?$

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake
    exclude: .pre-commit-config.yaml

- repo: local
  hooks:
  - id: docker-clang-format
    name: Docker Clang Format
    language: docker_image
    files: "\\.(cu|hpp|cpp|cu|h)$"
    entry: unibeautify/clang-format:latest
    args:
    - -style=file
    - -i

fix: support latest versions in pyproject.toml
  pyproject.toml
Due: disallow-caps

chore: update pre-commit
  .pre-commit-config.yaml
Due: none

fix: update versions and support (only) ROOT 6.24.00
  examples/exponential/exponential2.cpp
  noxfile.py
  python/CMakeLists.txt
  python/Minuit2/MnPrint.cpp
  python/Minuit2/setup.py
  python/examples/quad1f.py
  setup.cfg
  src/goofit/FitManagerMinuit2.cpp
Due: disallow-caps, docker-clang-format

docs: update changelog
  docs/CHANGELOG.md
Due: disallow-caps

chore: update GHA a bit
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: disallow-caps

fix: support older ROOTs
  .pre-commit-config.yaml
  CMakeLists.txt
  examples/exponential/exponential2.cpp
  noxfile.py
  python/Minuit2/CMakeLists.txt
  python/Minuit2/MnPrint.cpp
  python/Minuit2/setup.py
  src/goofit/FitManagerMinuit2.cpp
Due: disallow-caps, docker-clang-format

Martha fix rbw (#260)
  include/goofit/PDFs/detail/Globals.h
  include/goofit/PDFs/physics/DalitzPlotHelpers.h
  include/goofit/PDFs/physics/resonances/GS.h
  include/goofit/PDFs/physics/resonances/LASS.h
  include/goofit/PDFs/physics/resonances/RBW.h
  include/goofit/PDFs/physics/resonances/Resonance.h
  python/PDFs/physics/DalitzPlotHelpers.cpp
  python/PDFs/physics/ResonancePdf.cpp
  src/PDFs/detail/Globals.cu
  src/PDFs/physics/Amp3Body.cu
  src/PDFs/physics/Amp3Body_TD.cu
  src/PDFs/physics/resonances/GS.cu
  src/PDFs/physics/resonances/LASS.cu
  src/PDFs/physics/resonances/RBW.cu
  src/PDFs/physics/resonances/Resonance.cu
Due: disallow-caps, docker-clang-format

Legendre branch fully executes, but for some odd reason, cuda compilation doesn't work unless the array size is hard coded. Recommend someone else figuring it out
  examples/Legendre/Legendre.cpp
  src/PDFs/basic/LegendrePdf.cu
Due: disallow-caps, docker-clang-format

fix formatting
  src/PDFs/combine/MappedPdf.cu
Due: disallow-caps, docker-clang-format

fix offsets in Amp3Body_TD
  include/goofit/PDFs/physics/Amp3Body_TD.h
  python/PDFs/physics/Amp3Body_TD.cpp
  src/PDFs/physics/Amp3Body_TD.cu
Due: disallow-caps, docker-clang-format

fixing format
  include/goofit/PDFs/ParameterContainer.h
  include/goofit/PDFs/physics/Amp3Body.h
  include/goofit/PDFs/physics/Amp4Body.h
  include/goofit/PDFs/physics/Amp4Body_TD.h
  include/goofit/PDFs/physics/DalitzPlotHelpers.h
  include/goofit/PDFs/physics/MixingTimeResolution.h
  include/goofit/PDFs/physics/ThreeGaussResolution.h
  include/goofit/PDFs/physics/TruthResolution.h
  include/goofit/PDFs/physics/detail/Dim5.h
  include/goofit/PDFs/physics/detail/FourDblTupleAdd.h
  include/goofit/PDFs/physics/detail/NormIntegrator_TD.h
  include/goofit/PDFs/physics/detail/SpinHelper.h
  include/goofit/PDFs/physics/resonances/Resonance.h
  include/goofit/fitting/FitManagerMinuit1.h
  python/PDFs/physics/MixingTimeResolution.cpp
  src/PDFs/physics/Amp3Body.cu
  src/PDFs/physics/Amp4Body.cu
  src/PDFs/physics/Amp4Body_TD.cu
  src/PDFs/physics/DalitzPlotHelpers.cu
  src/PDFs/physics/ThreeGaussResolution.cu
  src/PDFs/physics/TruthResolution.cu
  src/PDFs/physics/detail/FourDblTupleAdd.cu
  src/PDFs/physics/detail/NormIntegrator_TD.cu
  src/PDFs/physics/detail/SpecialDalitzIntegrator.cu
  src/PDFs/physics/detail/SpecialIncoherentResonanceCalculator.cu
  src/PDFs/physics/detail/SpecialResonanceIntegrator.cu
  src/PDFs/physics/lineshapes/Bugg.cu
  src/PDFs/physics/lineshapes/GSpline.cu
  src/PDFs/physics/lineshapes/kMatrix.cu
  src/PDFs/physics/resonances/Resonance.cu
  src/PDFs/physics/resonances/kMatrix.cu
Due: disallow-caps, docker-clang-format

remove duplicated code
  src/PDFs/physics/DalitzPlotHelpers.cu
Due: disallow-caps, docker-clang-format

attempt to fix CUDA tests
  src/goofit/FitManagerMinuit2.cpp
Due: disallow-caps, docker-clang-format

attempt to fix tests
  examples/exponential/exponential2.cpp
  python/Minuit2/MnPrint.cpp
  src/goofit/FitManagerMinuit2.cpp
Due: disallow-caps, docker-clang-format

attempt to fix tests
  python/Minuit2/MnPrint.cpp
  src/PDFs/physics/DalitzPlotHelpers.cu
Due: disallow-caps, docker-clang-format

ci: print details on failure
  .github/workflows/ci.yml
Due: disallow-caps

chore: bump style
  .pre-commit-config.yaml
Due: none

ci: minor setup for pre-commit.ci
  .pre-commit-config.yaml
Due: none

ci: tidy check on GHA
  .github/workflows/ci.yml
Due: disallow-caps

ci: nicer color
  .github/workflows/ci.yml
Due: disallow-caps

modifiying calculateNLL to check error calculation
  src/PDFs/GooPdf.cu
Due: disallow-caps, docker-clang-format

Attempted to implement my own MC dalitz plot code, not working
  examples/dalitz/dalitz.cpp
Due: disallow-caps, docker-clang-format

MC data generation works, but PDF fails.
  examples/dalitz/dalitz.cpp
  src/PDFs/GooPdf.cu
Due: disallow-caps, docker-clang-format

Current code version, in middle of testing one resonance at a time
  examples/dalitz/dalitz.cpp
Due: disallow-caps, docker-clang-format

Attempted to fix MC data generation, doesn't work yet.
  examples/dalitz/dalitz.cpp
Due: disallow-caps, docker-clang-format

Code compiles, doesn't execute
  examples/dalitz/dalitz.cpp
Due: disallow-caps, docker-clang-format

Some portions of code are commented out.
  examples/dalitz/dalitz.cpp
Due: disallow-caps, docker-clang-format

Histogram plots, can't handle too many events right now
  examples/dalitz/dalitz.cpp
  src/PDFs/physics/Amp3Body.cu
Due: disallow-caps, docker-clang-format

Remove getDalitzBin.
  src/PDFs/physics/Amp3Body_TD.cu
Due: disallow-caps, docker-clang-format

Add getFractions.
  python/PDFs/physics/Amp3Body_TD.cpp
Due: disallow-caps, docker-clang-format

Add getFractions.
  src/PDFs/physics/Amp3Body_TD.cu
Due: disallow-caps, docker-clang-format

Fix merge.
  src/PDFs/physics/resonances/Resonance.cu
Due: disallow-caps, docker-clang-format

Add resetCacheCounter, &getDecayInfo.
  include/goofit/PDFs/physics/Amp3Body_TD.h
Due: disallow-caps, docker-clang-format

Fix factor of 2 in NLL.
  src/PDFs/GooPdf.cu
Due: disallow-caps, docker-clang-format
